.header {
  background-color: var(--headerfooter-color);
  width: 100vw;
  text-align: center;
}

.navegacao {
  display: flex;
  justify-content: center;
  gap: 10rem; 
  height: 10vh;
}

.ancoras {
  color: #FFF;
  font-size: 24px;
  text-decoration: none; 
  padding-top: 2rem;
}

.mobile-menu {
  display: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.active {
  transform: translateX(0);
}


.menu-icon {
  text-align: start;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 24px;
  color: #FFF;
  cursor: pointer;
  display: none; 
}