@import url('./variables.css');

body {
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  color: #fff;
}

.title, h1 {
  color: var(--fonts-icons-img);
  font-size: 4rem; 
}

section {
  height: 100vh; 
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
}

.sobreMim {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center; 
  gap: 2rem; 
  margin-left: 2rem; 
}

.sobreMim > div {
  flex: 1; 
}

.sobremim_h3{
  margin-left: 8rem;
}

.sobreMim > div > h3 {
  text-align: start;
  font-size: 68px;
  color: var(--fonts-icons-img);
  margin-bottom: 1rem; 
}

.sobreMim > div > p {
  font-size: 24px;
  text-align: justify;
}


.perfil {
  width: 500px; 
  height: 500px; 
  border-radius: 50%;
  border: solid;
  border-color: var(--fonts-icons-img);
}
